.header {
    height: 6.9rem;
    background-color: #fff;
    border-bottom: 1px solid $color-grey-light-2;
    font-size: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;


    @include respond(phone-sm-2){
        display: none;
    }
}